<h2>Edit Thoughts</h2>


  <div>
    
    <span>

      <form action="/pages/<%= @page.id %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="page[header]" value="<%= @page.header %>">
        <textarea name="page[article]"><%= @page.article %></textarea>
        <input type="text" name="page[article]" value="<%= @page.article %>">
        <input type="submit" value="Edit Post">
      </form>

      <form action="/pages/<%= @page.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
<!-- INCLUDE TAGS HERE -->
    </span>

  </div>

